[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/solrary"]
	path = lib/solrary
	url = https://github.com/0x0louis/solrary
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.3.0
[submodule "lib/lb-dlmm"]
	path = lib/lb-dlmm
	url = https://github.com/zwong91/lb-dlmm.git
	branch = dev
